<h1>FLANGE FLAIL: </h1>

<p> Deals 3 points of damage. Attacking robot must have either Armature A or Armature B intact. If Evaded by the targeted opponent, the attack carries through to the closest participating robot. Attacker declares from which direction her/his attack is coming from (clockwise or counter clockwise).</p>

<p><a href="/">Home</a>      <a href="redcards">Attack Cards</a>    <a href="bluecards">Defense Cards</a>   <a href="yellowcards">Specialty Cards</a> </p>