<h1>HAZARDOUS HEADBUTT: </h1>

<p>Deals 2 points damage. Both attacking and targeted robots must have Strategy Processors intact. This is the only Red Attack Card that can break an Electrocute attack.
</p>

<p><a href="/">Home</a>      <a href="redcards">Attack Cards</a>    <a href="bluecards">Defense Cards</a>   <a href="yellowcards">Specialty Cards</a> </p>