<h1>KINEMATIC KICK: </h1>

<p> Deals 4 points damage. Attacking robot must have either Armature C or Armature D intact.</p>

<p><a href="/">Home</a>      <a href="redcards">Attack Cards</a>    <a href="bluecards">Defense Cards</a>   <a href="yellowcards">Specialty Cards</a> </p>