<h1> LINKAGE LAUNCHER:</h1>

<p>Deals 4 points damage. Attacking robot must have either Armature A or Armature B intact. </p>

<p><a href="/">Home</a>      <a href="redcards">Attack Cards</a>    <a href="bluecards">Defense Cards</a>   <a href="yellowcards">Specialty Cards</a> </p>