<h1> Welcome <%= @user.name %> </h1><br>
<body>

    
  <li> Your email: <%= @user.email %></li><br>

    <li><a href="/rules">How To Play</a></li><br>
  <li><a href="/redcards">Attack Cards</a></li><br>
  <li><a href="/bluecards">Defense Cards</a></li><br>
  <li><a href="/yellowcards">Specialty Cards</a></li><br>
  <li><a href="/cards/new">Create Cards</a></li> <br>
  <li><a href="/cards">Cards Users Have Made</a></li><br>
  </body>