<h1>Create account</h1>


<form class="" action="/users" method="POST">
<p>
<lable for="name">Your Name:</label>
<input type="text" name="name" value="" />
</p>

<p>
    <lable for="email">Email:</label>
      <input type="text" name="email" id="email" />
      </p>
      <p>
        <lable for="password">Password:</label>
          <input type="password" name="password" id="password" />
          </p>

    <input type="submit" />

</form>
