<h2> This is your card to bring life to the game! Good luck out there! </h1>

<p><%= @cards.cardname %></p>
<p><%= @cards.cardtype %></p>
<p><%= @cards.requirements %></p>

<a href="cards/<%= @cards.id %>/edit"> Edit Entry</a> 