<h1> ATTACK CARDS:<h1>

<h4> Red
  </h4>
  <p><a href="/">Home</a>     <a href="bluecards">Defense Cards</a>   <a href="yellowcards">Specialty Cards</a> </p>
<p></p>
  <ul>
    <li><a href="cam_kick">Cam Kick</a> <a name="CamKick">
    <li><a href="corkscrew">Cylindrical Corkscrew</a> 
    <li><a href="EEE">End-Effector Elbow</a> 
    <li><a href="flange">Flange Flail</a> 
    <li><a href="headbutt">Hazardous Headbutt</a> 
    <li><a href="haymake">Hydraulic Haymake</a> 
    <li><a href="jointjab">Joint Jab</a> 
    <li><a href="kinematic">Kinematic Kick</a>
    <li><a href="knee">Knurling Kneek</a> 
    <li><a href="launcher">Linkage Launcher</a>
    <li><a href="orbital">On-Line Orbital</a>
    <li><a href="piston">Piston Punch</a>
    <li><a href="ubold">U-Bold</a>
  </ul>
