<h1> SPECIALTY CARDS:<h1>

<h4> Yellow
  </h4>
  <p><a href="/">Home</a>      <a href="redcards">Attack Cards</a>    <a href="bluecards">Defense Cards</a>    </p>
<p></p>
  <ul>
  <li><a href="drone">Dromne Companion</a> 
  <li><a href="daisy">Daisy Chain</a> 
  <li><a href="electrocute">Electrocute</a> 
  <li><a href="full">Full Ballistic</a> 
  <li><a href="grapple">Grapple</a>
  <li><a href="maul">Maul</a> 
  <li><a href="leap">Quantum Leap</a>
  <li><a href="hack">Systems Hack</a>
  <li><a href="reboot">System Reboot</a>
  <li><a href="virus">Systmes Virus</a>
  <li><a href="unorthodox">Unorthodox</a>
  </ul>
