<h1> Your Card </h1>
<body>

<p><%= "You have just created a card with the name #{params[:card]}, and its time is a #{params[:type]} card. Discription: #{params[:discription]}" + session[:card] %>.</p>
</body>