<h1> Your Card </h1>
<body>

<p><%= "You have just created a card with the name #{card[cardname]}, and its time is a #{card[cardname]} card. Discription: #{card[cardname]}" + session[:card] %>.</p>
</body> 