<h1>ALTERNATIVE RULES </h1>

<p>FIRST ROBOT DOWN - A faster way to complete matches. The first robot completely taken out ends the Combat Match. The robot with the most intact Red Armature and Blue Shield tokens wins. </p>
<p>SHAKY ALLIANCE - Players can establish truces to work as temporary teams. However, the match is still won by the last robot standing. </p>
<p>HEADHUNTER - A secondary win condition. When a player loses their Strategic Processor, the attacker collects it. If a player is about to lose their Strategic Processor or an Armature, they can surrender any collected Strategic Processors they have collected as a substitute. When a player is eliminated from the Combat Match, all collected Strategic Processors in their possession go to their attacker. Collected Strategic Processors do not replace destroyed Strategic Processors. The first player to collect all Strategic Processors, regardless if their Strategic Processor is intact, instantly wins.  </p>
