<h1>GAMEPLAY </h1>

<p>Use game cards to perform offensive and defensive combat actions based on the graphics and labels illustrated on each card’s face. The player sitting to the left of the dealer starts the game.
</p>

<p>During their turn, the player has four options:
1. Initiate an attack by playing a card against any opponent she/he chooses (includes announcing which body part of the opponent’s robot she/he is targeting).
2. Play any shield recovery cards in her/his hand.
3. Discard cards to swap for new ones from the draw pile.
4. Pass. </p>


<p>Combat Rounds often result in the play of multiple cards, but only one card is discarded at a time. Once all combat actions are completed, players involved in the turn pull new cards to replenish their hand back to six cards. The attacking player is first to draw cards from the deck. The Combat Round progresses from one player to the next in a clockwise manner. If a player fails to replenish their hand at the end of the Combat Round, they are not allowed to draw new cards until the end of the next Combat Round they are involved. </p>


<p> Defending players respond by playing one or a combination of the four applicable Defense or Specialty Cards: Deflect, Evade, Backfire, Drone Companion, or taking the damage value indicated on the attacker’s card. The Deflect and Drone Companion Cards allow for possible counter-combat actions.</p>

<p>All card damage values either go against removing Blue Shield Tokens or removing a single Red Armature Token, not a combination of both. When the damage value of a card exceeds the number of Shield Tokens in place on the targeted Armature or Strategy Processor, the player receiving the attack decides which other remaining Shield Tokens on their robot's Armature(s) or Strategy Processor take the remainder (splash) damage. </p>

<p> Once the Shield Tokens of an Armature or Strategy Processor are depleted, a single card damage of at least 2 points is required to remove the Armature's or Strategy Processor's final Red Armature Token.</p>

<p>Removing the Red Armature Token eliminates that feature from the player’s robot for the remainder of the Combat Match. (exception: The Full Ballistic Specialty Card is the only card that removes an exposed Armature or Strategy Processor with a single point of damage) When a player loses all of their Red Armature Tokens, they are out of play for the remainder of the Combat Match. </p>

<p>The last robot remaining is the winner of the Combat Match. </p>