<h1> GOAL </h1>

<p>Beat your opponents in a robot battle royale. Use game cards to attack opponent’s shields and destroy robot features, crippling your opponent’s ability to fight back. </p>
<p>Join the fight in this action packed card game where knowing what card to play could mean the difference between becoming a heap of scrap metal or the last robot standing. </p>