<h1> HOW TO PLAY </h1>

<p> </p>

<p><a href="goal">GOAL</a> <a name="rules"></a></p>
  <p><a href="game_setup">GAME SET-UP</a> <br /> <a name="card"></a></p>
  <p><a href="gameplay">GAMEPLAY</a> <br /> <a name="card"></a></p>
  <p><a href="altrules">ALTERNATIVE RULES</a> <br /> <a name="card"></a></p>
  