<h1> hello </h1>

<p><a href="rules">Rules</a> <a name="rules"></a></p>
  <p><a href="redcards">Attack Cards</a> <a name="card"></a></p>
  <p><a href="bluecards">Defense Cards</a> <br /> <a name="card"></a></p>
  <p><a href="yellowcards">Specialty Cards</a> <br /> <a name="card"></a></p>
  <p><a href="newcard">Create Cards</a> <br /> <a name="card"></a></p>