<h1>GAME SET-UP </h1>

<p>Gameplay Boards and Tokens - Each player is issued a Status Board representing their robot. Place a single Red Armature Token over each corresponding Armature or Strategy Processor icon. Then stack three Blue Shield Tokens on top of each Armature's or Strategy Processor's Red Armature Token.
</p>

<p>Gameplay Cards - Deal six game cards to each player. Players maintain a hand of six cards from a shuffled deck of 151 game cards. The remaining cards are placed face down and become the draw deck. During the game, players create a discard pile of the cards played during their turn. If the Game Match is still in progress after the draw deck is depleted, shuffle the discard pile and use it to replace the draw deck. </p>