<h1> DEFENSE CARDS:<h1>

<h4> blue
  </h4>
  <p><a href="home">Home</a> <a name="rules"></a></p>
<p></p>
  <ul>
    <li><a href="CamKick">Cam Kick</a> <a name="CamKick"></a>- Deals 2 points damage</li>
    <li><a href="Cylindrical-Corkscrew">Cylindrical Corkscrew</a> <a name="Cylindrical"></a>- Deals 2 points damage</li>
    <li><a href="EEE">End-Effector Elbow</a> <a name="EEE"></a>- Deals 2 points damage</li>
    <li><a href="Flange-Flail">Flange Flail</a> <a name="Flange Flail"></a>- Deals 2 points damage</li>
    <li><a href="Hazardous-Headbutt">Hazardous Headbutt</a> <a name="Hazardous Headbutt"></a>- Deals 2 points damage</li>
    <li><a href="Hydraulic-Haymake">Hydraulic Haymake</a> <a name="Hydraulic Haymake"></a>- Deals 2 points damage</li>
    <li><a href="Joint-Jab">Joint Jab</a> <a name="Joint Jab"></a>- Deals 2 points damage</li>
    <li><a href="Kinematic-Kick">Kinematic Kick</a> <a name="Kinematic Kick"></a>- Deals 2 points damage</li>
    <li><a href="Knurling-Knee">Knurling Kneek</a> <a name="Knurling Knee"></a>- Deals 2 points damage</li>
    <li><a href="Linkage-Launcher">Linkage Launcher</a> <a name="Linkage Launcher"></a>- Deals 2 points damage</li>
    <li><a href="On-Line-Orbital">On-Line Orbital</a> <a name="On-Line Orbital"></a>- Deals 2 points damage</li>
    <li><a href="Piston-Punch">Piston Punch</a> <a name="Piston Punch"></a>- Deals 2 points damage</li>
    <li><a href="U-Bold">U-Bold</a> <a name="U-Bold"></a>- Deals 2 points damage</li>
  </ul>
