<h1>This is where you get to create your own card! How eciteing is that!</h1>

<form action="newcard" method="POST">
  <p>
    <lable for="card">Card Name:</label>
      <input type="text" name="card" id="card" />
      </p>
      
  <p>
    <lable for="type">Card Type:</label>
      <input type="text" name="card" id="card" />
      </p>

    <input type="submit" />

</form>
