<h1>This is where you get to create your own card! How eciteing is that!</h1>

<form action="makecard" method="POST">
  <p>
    <lable for="cardname">Card Name:</label>
      <input type="text" name="card name" id="card name" />
      </p>
      <p>
        <lable for="cardtype">Card Type:</label>
          <input type="text" name="Card type" id="card type" />
          </p>

    <input type="submit" />

</form>
