<h1> Robot Battle League <h1>

  <h5 <div>
<p dir="rtl"><a href="login">Login</a> <br /> <a name="log in "></a></p>
<p dir="rtl"><a href="signup">Create Account</a> <br /> <a name="signup "></a></p>
 </h5>

<h3>
  <p><a href="rules">How To Play</a> <a name="rules"></a></p>
  <p><a href="redcards">Attack Cards</a> <a name="card"></a></p>
  <p><a href="bluecards">Defense Cards</a> <br /> <a name="card"></a></p>
  <p><a href="yellowcards">Specialty Cards</a> <br /> <a name="card"></a></p>
  <p><a href="newcard">Create Cards</a> <br /> <a name="card"></a></p>

</div>
