<h1> <p style="text-align: center;"></p>Robot Battle League <h1> <h4 <div>
<p dir="rtl"><a href="login">Login</a> <br /> <a name="log in "></a></p>
 </h4>

<h3>
  <p><a href="rules">Rules</a> <a name="rules"></a></p>
  <p><a href="redcards">Attack Cards</a> <a name="card"></a></p>
  <p><a href="bluecards">Defense Cards</a> <br /> <a name="card"></a></p>
  <p><a href="yellowcards">Specialty Cards</a> <br /> <a name="card"></a></p>
  <p><a href="newcard">Create Cards</a> <br /> <a name="card"></a></p>

</div>
