<h1> Login </h1>

<form class="" action="login" method="POST">
<p>
  <p>
    <lable for="email">Email:</label>
      <input type="text" name="email" value="" />
      </p>
      <p>
        <lable for="password">Password:</label>
          <input type="password" name="password" value=""/>
          </p>

    <input type="submit" />

</form>
