<h1> Robot Battle League <h1>

  <h5 <div>
<p dir="rtl"><a href="login">Login</a> <br /> <a name="log in "></a></p>
<p dir="rtl"><a href="signup">Create Account</a> <br /> <a name="signup "></a></p>
 </h5>

<header>
<nav>
<ul>

<li><a href="rules">How To Play</a></li>
<li><a href="redcards">Attack Cards</a></li>
<li><a href="bluecards">Defense Cards</a></li>
<li><a href="yellowcards">Specialty Cards</a></li>
</ul>
</nav></header>

