<h1> SPECIALTY CARDS:<h1>

<h4> Yellow
  </h4>
  <p><a href="home">Home</a> <a name="rules"></a></p>
<p></p>
  <ul>
    <li><a href="Drone-Companion">Drone Companion</a> <a name="Drone Companion"></a>- Deals 2 points damage</li>
    <li><a href="Daisy-Chain">Daisy Chain</a> <a name="Daisy Chain"></a>- Deals 2 points damage</li>
    <li><a href="Electrocute">Electrocute</a> <a name="Electrocute"></a>- Deals 2 points damage</li>
    <li><a href="Full-Ballistic">Full Ballistic</a> <a name="Full Ballistic"></a>- Deals 2 points damage</li>
    <li><a href="Grapple">Grapple</a> <a name="Grapple"></a>- Deals 2 points damage</li>
    <li><a href="Maul">Maul</a> <a name="Maul"></a>- Deals 2 points damage</li>
    <li><a href="Quantum-Leam">Quantum-Leam</a> <a name="Quantum-Leam"></a>- Deals 2 points damage</li>
    <li><a href="Systems-Hack">Systems Hack</a> <a name="Systems Hack"></a>- Deals 2 points damage</li>
    <li><a href="System-Reboot">System Reboot</a> <a name="System Reboot"></a>- Deals 2 points damage</li>
    <li><a href="Systems-Virus">Systems Virus</a> <a name="Systems Virus"></a>- Deals 2 points damage</li>
    <li><a href="Unorthodox">Unorthodox</a> <a name="Unorthodox"></a>- Deals 2 points damage</li>

  </ul>
